/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #d3d9df;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d6da;
  border: 1px solid #aab4bb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b4b8;
  border: 1px solid #aab4bb;
}
